name: testing github workflow
on: [pull_request]
jobs:
  Coba-Github-CI-Workflow:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{secrets.MESSAGE_SECRET}}"
  
  ini-unit-test:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
       
       - name: Setup go
         uses: actions/setup-go@v3
         with:
           go-version: '1.18'

       - run: go test -v ./...